<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>eknkc.pinboard</string>
	<key>connections</key>
	<dict>
		<key>4C6208EB-6C15-499F-9DE2-BAB11A9FEE47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D12FDF4-E529-4531-AA62-BA0F5AA71C76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D754C1D-ED7B-46CC-811D-FC262AE673BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F35683F-C0C0-4788-B97F-5A1C55ACECD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F35683F-C0C0-4788-B97F-5A1C55ACECD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E414136-39D3-4EB0-83BC-54047954BBD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ekin Koc</string>
	<key>description</key>
	<string>Search Pinboard bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pinboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Authentication Token Saved</string>
				<key>title</key>
				<string>Pinboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1E414136-39D3-4EB0-83BC-54047954BBD9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pb</string>
				<key>runningsubtext</key>
				<string>Loading bookmarks</string>
				<key>script</key>
				<string>PATH=/usr/bin:/usr/local/bin node search.js "{query}"</string>
				<key>subtext</key>
				<string>Search Pinboard bookmarks for {query}</string>
				<key>title</key>
				<string>Search Pinboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4C6208EB-6C15-499F-9DE2-BAB11A9FEE47</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FAA905B-B3E1-42A3-B714-F7A0FED469BF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>PATH=/usr/bin:/usr/local/bin node search.js --pbtoken "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F35683F-C0C0-4788-B97F-5A1C55ACECD0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>3D12FDF4-E529-4531-AA62-BA0F5AA71C76</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pinboardauth</string>
				<key>subtext</key>
				<string>username:XXXXXXXXXXXXXXXXXXXX</string>
				<key>text</key>
				<string>Set Pinboard Authentication Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D754C1D-ED7B-46CC-811D-FC262AE673BE</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E414136-39D3-4EB0-83BC-54047954BBD9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3D12FDF4-E529-4531-AA62-BA0F5AA71C76</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4C6208EB-6C15-499F-9DE2-BAB11A9FEE47</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5D754C1D-ED7B-46CC-811D-FC262AE673BE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7F35683F-C0C0-4788-B97F-5A1C55ACECD0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9FAA905B-B3E1-42A3-B714-F7A0FED469BF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/eknkc/pinboard-alfred</string>
</dict>
</plist>
